<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINS LIST</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-CuOF+2SnTUfTwSZjCXf01h7uYhfOBuxIhGKPbfEJ3+FqH/s6cIFN9bGr1HmAg4fQ" crossorigin="anonymous">
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-firestore.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- configuration -->
    <script src="./js/config.js"></script>
    <script>
        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION)
    </script>
    
</head>


<body>
    <%- include('partials/navbar') %> 
    <div class="container p-5">
        <div class="p-3 col-10 offset-1 bg-primary border border-primary" id="adminsList" >
            <h1 class="text-center">ADMINS</h1>
            <div class="row mb-1">
                <div class="col-3 bg-info text-center"><b>NAME</b></div>
                <div class="col-3 bg-white text-center"><b>EMAIL</b></div>
                <div class="col-2 bg-info text-center"><b>MOBILE</b></div>
                <div class="col-3 bg-white text-center"><b>BIO</b></div>
                <div class="col-1 bg-info text-center"><b>EDIT</b></div>
            </div>


            <% snapshot.forEach(element => { %>
                <div class="row mb-1">
                    <div class="col-3 bg-info text-center"><b><%= element.data().name%></b></div>
                    <div class="col-3 bg-white text-center"><b><%= element.data().email%></b></div>    
                    <div class="col-2 bg-info text-center"><b><%= element.data().mobile%></b></div>
                    <div class="col-3 bg-white text-center"><b><%= element.data().bio%></b></div>
                    <div class="col-1 bg-info text-center"> 
                        <form action="/admins/<%=element.data().id%>" method="GET">
                            <button class="btn btn-sm btn-secondary mt-1" id="<%=element.data().id%>">VIEW</button>
                        </form>
                    </div>
                </div>
            <% }) %>


        </div>
    </div>
    

    <!-- SIGN UP Modal -->
    <%- include('partials/signUp') %> 
        

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-popRpmFF9JQgExhfw5tZT4I9/CI5e2QcuUZPOVXb1m7qUmeR2b50u+YFEYe1wgzy" crossorigin="anonymous"></script>
    <script src="./js/adminsList.js"></script>
    <script src="./js/navbar.js"></script>
</body>
</html>